
// Colors



// ------------------ Titel bokse -------------------- //
body {
  background-color: #e3e3e3;
}



#searchContainer {
  background-color: white;
  min-height: 800px;

  #search {
    margin-top: 5rem;
    color: black;
    background-color: white;

    padding: 2rem;

    .form-group {
      position: relative;
    }

    .form-control{



      border-radius: 0;
      display: inline-block;
      margin-bottom: 0;


    }

      #inputSubmit {

        background-color: $orange;
        color: white;
        border: 1px solid $orange;

        margin-top: 2rem;

      }

      #inputCity, #inputTime, #inputDate {

      }

  }

}
