#brand {
  display: inline-block;
  width: auto;
  padding: 3rem;
  background-color: #821ed2;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  left: 15rem; }

#type {
  display: inline-block;
  width: auto;
  padding: 3rem;
  background-color: #d2671e;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  position: absolute;
  bottom: 2rem;
  right: 15rem; }

#searchContainer {
  background-image: url("https://images.pexels.com/photos/227690/pexels-photo-227690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: 100% auto;
  min-height: 800px;
  margin-top: 5rem; }
  #searchContainer #search {
    margin-top: 15rem;
    color: black;
    background-color: white;
    padding: 2rem; }
    #searchContainer #search .form-group {
      position: relative; }
    #searchContainer #search .form-control {
      border-radius: 0;
      display: inline-block;
      margin-bottom: 0;
      border-left: 2px solid #821ed2; }
    #searchContainer #search #inputSubmit {
      background-color: #d2671e;
      color: white;
      border: 1px solid #d2671e;
      border-left: 2px solid #821ed2;
      margin-bottom: 1rem;
      position: absolute;
      display: inline-block;
      width: auto;
      bottom: 0; }
